In [1]:
import project
dir(project)

In [2]:
i = 0
while i <= 5:
    print(i)
    i += 1

In [3]:
for c in range(6):
    print(c)

In [4]:
# you need to print every letter in s on its own line
s = "bahahaha"
for x in s:
    print(x)

b
a
h
a
h
a
h
a

In [5]:
# you need to print the index of every "h" in s on its own line
s = "bahahaha"
for i in range(len(s)):
    if(s[i]=="h"):
        print(i)

2
4
6

In [6]:
#You want a loop that prints the index of every row index in hurricanes.csv (from 0 to 132, inclusive)
for idx in range(project.count()):
    print(idx)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132

In [7]:
# Complete the following loop so it prints the name of every hurricane in the dataset:
for idx in range(project.count()):
    name = project.get_name(idx)
    print(name)

Baker
Camille
Eloise
Frederic
Elena
Opal
Danny
Ivan
Dennis
Katrina
Carol
Donna
Gloria
Bob
Labor Day
Easy
King
FLORENCE
Flossy
Cleo
Dora
Isbell
Betsy
Alma
Inez
Gladys
Agnes
Kate
Floyd
Andrew
Erin
Earl
Georges
Irene
Charley
Frances
Jeanne
Rita
Wilma
Hermine
Matthew
Irma
Michael
Ethel
Hilda
Edith
Carmen
Babe
Bob
Danny
Juan
florence
Lili
Cindy
Humberto
Gustav
Isaac
Nate
Barry
Belle
Sandy
Barbara
Hazel
Ione
Helene
Ginger
Diana
Hugo
Emily
Bertha
Fran
Bonnie
Floyd
Isabel
Alex
Ophelia
Irene
Florence
Esther
Able
Cindy
Gracie
Bob
Gaston
Debra
Carla
Beulah
Celia
Fern
Allen
Alicia
Bonnie
Chantal
Jerry
Bret
Claudette
Dolly
Ike
Harvey
Dot
Iwa
Iniki
Tusi
Ofa
Val
Heta
Olaf
Karen
Pamela
Roy
Yuri
Omar
Paka
Chataan
Pongsona
Dolphin
Lynn
Mireille
Keith
Chaba
Vongfong
Soudelor
Mangkhut
Yutu
San Ciriaco
San Liborio
San Ciprian
Betsy
Hortense
Maria
Marilyn
Lenny
Omar

In [8]:
for i in range(project.count()):
    if project.get_mph(i) < 80:
        print(project.get_name(i))

Floyd
Babe
Bob
Cindy
Barry
Cindy
Bob
Gaston

In [9]:
def f(n):
    return 3 + n % 7

# we want to find the integer n in the range of 0 to 10
# such that f(n) is largest.
best_n = 0
for n in range(11):
    if f(n) > best_n:
        best_n = n

print(best_n)

6

In [10]:
print(project.get_formed(0)[:2])

08

In [11]:
print(project.get_formed(0)[-4:])

1950

In [12]:
def get_month(date):
    '''Returns the month when the date is the in the 'mm/dd/yyyy' format'''
    return int(date[:2])

def get_day(date):
    '''Returns the day when the date is the in the 'mm/dd/yyyy' format'''
    return int(date[3:5])


def get_year(date):
    '''Returns the year when the date is the in the 'mm/dd/yyyy' format'''
    return int(date[-4:])

print(get_month("10/02/2019"))
print(get_day("10/02/2019"))
print(get_year("10/02/2019"))

10
2
2019