In [11]:
import csv

# copied from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

# use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

In [12]:
csv_header

['room_id',
 'name',
 'host_id',
 'host_name',
 'neighborhood_group',
 'neighborhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [14]:
csv_data[0][csv_header.index("host_name")]

'John'

In [16]:
def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if val == "":
        return None
    # optional: convert types based on column name?
    return val

In [17]:
cell(0, "neighborhood")

'Kensington'

In [18]:
cell(1, "name")

'Skylit Midtown Castle'

In [19]:
cell(2, "price")

'150'

In [20]:
cell(3, "latitude")

'40.68514'

In [21]:
letters = ["B", "C", "A"]

result = letters.sort()

print("original list:", letters)
print("returned value:", result)

original list: ['A', 'B', 'C']
returned value: None

In [22]:
letters = ["B", "C", "A"]

result = sorted(letters)

print("original list:", letters)
print("returned value:", result)

original list: ['B', 'C', 'A']
returned value: ['A', 'B', 'C']

In [23]:
s = "BCA"

result = sorted(s)

print("original str:", s)
print("returned value:", result)

original str: BCA
returned value: ['A', 'B', 'C']

In [24]:
letters = ["B", "C", "A"]

result = letters.pop(0)

print("original list:", letters)
print("returned value:", result)

original list: ['C', 'A']
returned value: B

In [26]:
example_list = ["A", "B", "C"]
print(example_list)
example_set = {"A", "B", "C"}
print(example_set)

['A', 'B', 'C']
{'B', 'A', 'C'}

In [28]:
"A" in example_list

True

In [29]:
"A" in example_set

True

In [31]:
example_list[0]  # works

'A'

In [33]:
["A", "B", "C"] == ["C", "B", "A"]

False

In [34]:
{"A", "B", "C"} == {"C", "B", "A"}

True

In [35]:
items = [1,2,4]
items_set = set(items)
print(items_set)

{1, 2, 4}

In [36]:
items = {4,2,1}
items_list = list(items)
print(items_list)

[1, 2, 4]

In [37]:
x = 3.8
y = float(int(x))
print(y)

3.0

In [40]:
list_1 = ["A", "A", "B", "B", "C", "B", "A"] # try playing with different values here
list_2 = list(set(list_1))
print(list_2)

['B', 'A', 'C']