In [1]:
def abs_func(ret_list):
    ret_list = ret_list[:] # copy it
    for i in range(len(ret_list)):
        if ret_list[i] < 0:
            ret_list[i] = -ret_list[i]
    return ret_list

abs_func([-1, -3, 5, -4, 8])

In [16]:
import time
import requests
import pandas as pd
from pandas import DataFrame, Series

In [17]:
time.time()

1606757715.7843342

In [18]:
t1 = time.time()
# some code we want to measure
t2 = time.time()
t2 - t1

3.0040740966796875e-05

In [19]:
t1 = time.time()

total = 0
limit = 10 # try changing this
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 45
ms: 0.11205673217773438

In [20]:
t1 = time.time()

total = 0
limit = 100 # try changing this
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 4950
ms: 0.14019012451171875

In [21]:
t1 = time.time()

import requests
r = requests.get("https://raw.githubusercontent.com/msyamkumar/cs220-f20-projects/master/lab-p12/hello.txt")
r.raise_for_status()
data = r.text

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 214.5380973815918

In [22]:
t1 = time.time()

f = open("hello.txt", "w", encoding="utf-8")
f.write(data)
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 0.46372413635253906

In [23]:
t1 = time.time()

f = open("hello.txt", encoding="utf-8")
data = f.read()
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 0.5271434783935547

In [24]:
import os

def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")
    
    get = requests.get(url)
    get.raise_for_status()
    data = get.text
    f = open(filename, "w", encoding="utf-8")
    f.write(data)
    f.close()

    # TODO: Write the code to download the file from URL
    # and save it in `filename`

    return (str(filename) + " created!")

In [25]:
download("hello.html", "https://raw.githubusercontent.com/msyamkumar/cs220-f20-projects/master/lab-p12/hello.html")

'hello.html already exists!'

In [26]:
# option 1
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [27]:
# option 2
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

   x  y
0  1  2
1  3  4

In [28]:
# option 3
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4

In [29]:
# option 4
DataFrame({"x":{"A":1,"B":3},
           "y":{"A":2,"B":4}})

   x  y
A  1  2
B  3  4